.navigation{
    background-color: bisque;
}
.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    color: brown;
    font-size: 18px;
}
/* .activeLink {
    color:red;
} */
.link:hover {
    color: black;
}
.icon {
    display: inline;
}
.icon:hover {
    color: black;
}
path {
    display: inline;
}