.contacts {
    background-color: bisque;
    /* border: 1px solid brown; */
    width: 524px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:bisque;
    /* margin-top: 30px; */
    margin-left: auto;
    margin-right: auto;
    color: brown;
}