.userMenu{
    display: flex;
    justify-content: flex-end;
    background-color: bisque;
    /* width: 624px; */
    /* padding: 10px; */
    font-size: 14px;
}
.email{
    padding: 10px;
    margin: 0;
    color: tomato;
}
.logOutButton{
    /* padding: 10px;
    background-color: transparent;
    border: none; */
    margin-top: 3px;
    margin-right: 3px;
    color: tomato;
    background-color:bisque;
    padding: 7px 15px;
    border: 1px solid rosybrown;
    border-radius: 5px;
}
.link {
    display: inline-block;
    text-decoration: none;
    color: brown;
    padding: 0;
    margin: 0;
    margin-right: 7px;
}

.activeLink {
    color:crimson;
}
.icon {
    display: inline-block;
    align-items: flex-end;
}
path {
    display: inline-block;
    width: 14px;
    padding: 3px;
    color: brown;
}