body {
  background-image: url("bg.jpeg");
  background-color: rosybrown;
}
.App {

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(255, 228, 196, 0.1); */
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 1px solid brown; */
  color: brown;
}

h1, h2 {
  margin: 5px auto;
  color: brown;
}

.header {
  width: 524px;
  background-color: bisque;
  /* border: 1px solid brown; */
  margin: 0;
  padding: 10px;
}


